name: Build
on:
  pull_request:
  push:
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ghcr.io/${{ github.repository }}
jobs:
  image:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4.1.7

      - uses: DeterminateSystems/nix-installer-action@v18
        continue-on-error: true # Self-hosted runners already have Nix installed

      - name: Install Attic
        run: |
          if ! command -v attic &> /dev/null; then
            ./.github/install-attic-ci.sh
          fi

      - name: Log in to the Container registry
        uses: docker/login-action@v3.3.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push container images
        continue-on-error: true
        run: |
          declare -a tags
          tags+=("${{ github.sha }}")

          branch=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          if [[ "${{ github.ref }}" == "refs/tags/"* ]]; then
            tags+=("$(echo $branch | sed -e 's/^v//')")
          else
            tags+=("${branch}")
          fi

          if [ "$branch" == "${{ github.event.repository.default_branch }}" ]; then
            tags+=("latest")
          fi

          >&2 echo "Image: ${IMAGE_NAME}"
          >&2 echo "Tags: ${tags[@]}"

          .ci/run just ci-build-and-push-images "${IMAGE_NAME}" "${tags[@]}"
